
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
  color: white;
  flex-wrap: wrap;
}

/* LEFT */
.hero-content {
  flex: 1;
  min-width: 300px;
}

.intro {
  color: #38BDF8;
  font-size: 18px;
}

.name {
  font-size: 48px;
  margin: 10px 0;
}

.role {
  color: #38BDF8;
  font-size: 24px;
  margin-bottom: 15px;
}

.desc {
  max-width: 500px;
  opacity: 0.8;
  line-height: 1.6;
}

/* BUTTON */
.hero-btn {
  margin-top: 20px;
  background: #38BDF8;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.hero-btn:hover {
  transform: scale(1.05);
}

/* IMAGE */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38BDF8;
  box-shadow: 0 0 40px rgba(56, 189, 248, 0.4);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    margin-top: 30px;
    width: 220px;
    height: 220px;
  }

  .name {
    font-size: 36px;
  }
}
